.tab-list-style {
  list-style-type: none;
}
.tab-button-style {
  background-color: transparent;
  margin-right: 10px;
  border: none;

  font-family: 'Roboto';
  font-size: 25px;
  font-weight: 500;
  color: #fec653;
  cursor: pointer;
  outline: none;
}
.tab-border-style {
  border-bottom: 2px solid #fec653;
}
@media screen and (min-width: 768px) {
  .tab-button-style {
    font-size: 30px;
  }
}
